.inner {
    width: 100px;
    height: 50px;
    background-color: red;
    /*margin: inherit;*/
    /*padding: inherit;*/
    border: inherit;
}

.outer {
    background-color: #bbbbbb;
    padding: 10px;
    border: 2px solid black;
}

/* Not inheritable unless forced
margins
padding
borders 
background color */